.navbar{
	background: radial-gradient(circle at 50% 50%,#056cbb,#00427b 80%) !important;
	    padding-top: 5px !important;
    padding-bottom: 5px  !important;
}
.dropuptemporaly{
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 100;
}
.doc{
    overflow-y: hidden !important;
}
.doc-section .side-navber .nav-pills li i{
	font-size:11px;
	
	
}
.fixed-hight .code-menu .code-index{
	display: block;
    padding: 9.5px;
    margin: 0 0 25px;
    font-size: 13px;
    line-height: 2;
	
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #F3F0F0;
    border: 0px solid #ccc;
    border-radius: 4px;
	position:relative;

    white-space: pre;	
	transition:all 0.5s ease; 
}
.fixed-hight .code-menu .code-index:hover{
	box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.25);
	transform:scale(1.01);
}
