body {
	overflow-y:hidden;
}

#js-top {
  position: fixed;
  /*OR WHATEVER YOU PREFER*/
  bottom: -200px;
  /*OR WHEREVER YOU PREFER*/
  right: 20px;
  padding:14px;
  z-index:18000000000;
  outline:none;
  box-shadow:none;
  border-radius:100px;
  background:transparent;
  border:1px solid #0F72E5;
  
  /*OR WHEREVER YOU PREFER*/

  z-index:100000;
  transition: all ease 0.4s;
}
#js-top span{
	color:#0F72E5;
 z-index:100000;
}
#js-top:hover span{
	color:#ffff;
}
#js-top:hover {
 background:radial-gradient(circle at 71% 51%,#3fa6f4,#00427b 57%);
  
   transition: all 0.4s;
}
.dropuptemporaly{
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 10000;
}
.navbar{
	background: radial-gradient(circle at 50% 50%,#056cbb,#00427b 80%);
	padding-top: 5px !important;
    padding-bottom: 5px  !important;
}


.coin-1 .container,.coin-2 .container,.coin-3 .container,.coin-4 .container,.coin-5 .container{
	padding:0;
	
}
.coin-1{
	margin-top:70px;
	padding-top:60px;
	
}
.right-coin,.right-coin-2,.left-coin-3{
	padding-top:80px;
	
}
.right-coin h4{
	font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(22, 82, 240);
}
.right-coin h1,.right-coin-2 h1,.left-coin-3 h1{
    line-height: 60px;
    font-size: 50px;
	font-weight:bold;
	color:rgba(0,0,0,0.9);
}
.right-coin p,.left-coin-3 p{
	    font-size: 17px;
		font-weight:400;
		margin-top:20px;
		line-height:30px;
		color:rgba(0,0,0,0.9);
}
.right-coin .btn,.coin-5 .btn{
	   position: relative;
    width: auto;
    margin: 0px;
    border-radius: 4px;
    font-weight: 500;
	box-shadow:none;
	outline:none;
	border:none;
	margin-top:25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    padding: 15px 55px;
    font-size: 16px;
    border: 1px solid rgb(5, 177, 105);
    background-color: rgb(5, 177, 105);
}










.coin-2{
	padding-top:100px;
}
.right-coin-2 .num{
	margin-top:40px;
	    font-size: 20px;
    font-weight: 600;
    line-height: 56px;
    display: inline-block;
    width: 56px;
    text-align: center;
    color: rgb(22, 82, 240);
    background: rgb(255, 255, 255);
    box-shadow: rgba(218, 225, 233, 0.557) 0px 8px 16px;
    border-radius: 50%;
}
.right-coin-2 .main-p{
	margin-left: 100px;
    margin-top: -75px;
}

.right-coin-2 .main-p h5{
	    line-height: 33px;
    font-size: 17px;
	color:rgba(0,0,0,1);
}

 .right-coin-2 .main-p p{
	   line-height: 33px;
    font-size: 17px;
	font-weight:400;
	color:rgba(0,0,0,0.5);
}
.right-coin-2 .main-p a{
	text-decoration:none;
	color: rgb(22, 82, 240);
}
.coin-2 img{
	margin-top:80px;
	width:150%;
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.10);
	position:absolute;
} 















.coin-3{
	
	padding-top:100px;
}
.left-coin-3 img{
	width: 30%;
	margin-right: 8px;
    height: 48px;
    margin-top: 20px;
    display: inline-block;
}






.coin-4{
	background:#FEFBFB;
	padding-top:50px;
}

.coin-4 h1{
    line-height: 60px;
    font-size: 50px;
	padding-bottom:60px;
}



.coin-4 .jumbotron{
	padding-top:12;
	height:39%;
	cursor:pointer;
	box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.10);
	background:white;
	padding-left:45px;
	padding-right:45px;
	padding-bottom:0px;
	 transition: transform .1s ease-in-out,box-shadow .1s ease-in-out;
}

.coin-4 .jumbotron:hover{
	 transform: scale(1.01);
    
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.1);
}



.coin-4 .jumbotron h3{
	    font-size: 30px;
    line-height: 32px;
	font-weight:700;
	color:rgba(0,0,0,0.9)
}
.coin-4 .jumbotron p{
	    font-size: 17px;
    line-height: 32px;
	font-weight:400;
	margin-top:20px;
	color:rgba(0,0,0,0.7)
}

.coin-4 .jumbotron p a{
	text-decoration:none;
}



.coin-5{
	background:#1B52FA;
	padding-top:90px;
	padding-bottom:100px;
	
}
.coin-5 h1{
	    line-height: 1.3;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 600;
	
}

.coin-5 p{
	line-height: 1.1;
    font-weight: 400;
	font-size:17px;
    color: rgba(255, 255, 255,0.8);
	
}
.coin-5 .btn{
	padding: 18px 75px;
	float:right;
	margin-top:40px;
}






@media (max-width: 992px){
	.coin-2 img{
	margin-top:80px;
	width:100%;
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.10);
	position:relative;
} 
.coin-1 .container,.coin-2 .container,.coin-3 .container,.coin-4 .container,.coin-5 .container{
	padding:10;
}
.coin-1  img{
	margin-top:20px;
	width:500px;
}

}
@media (max-width: 468px){
	.right-coin, .right-coin-2, .left-coin-3 {
    padding-top: 0px;}
	.right-coin h4 {
    font-size: 20px;}
.right-coin h1, .right-coin-2 h1, .left-coin-3 h1 {
    line-height: 50px;
font-size: 40px;}
.right-coin p, .left-coin-3 p {
font-size: 15px;}
.coin-4 h1 {
    line-height: 50px;
font-size: 40px;}
.coin-4 .jumbotron h3 {
    font-size: 25px;
line-height: 28px;}
.coin-4 .jumbotron p {
    font-size: 15px;
line-height: 28px;}
.coin-5 h1 {
    line-height: 1.2;
    
    font-size: 41px;
}
.coin-5 .btn {
    padding: 15px 70px;
    float: none;
	margin-right:0;
	margin-right:0;
	display:block;
    margin-top: 35px;
	
}





